.lorem{
    background-color: rgb(0, 255, 76);
    font-weight: bold;
    background-image: url(images/Alamin.jpg);
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    display: inline-block;
    border: 30px solid teal;
    border-radius: 20px;
    box-shadow: 20px 10px 15px 20px red;
    
}
.paragraph{
    background-color: blueviolet;
}